<!DOCTYPE html>
<html>
<head>
  <!-- phone setting -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Zendo Social</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>

  <!-- <meta name="keywords" content="this will be used for SEO purposes"> -->

  <!-- <meta name="description" content="sets the description of the search engine link"> -->
  <base href="/">
  <!-- build:css assets/styles/styles.css -->
  <link rel="stylesheet" type="text/css" href="/temp/styles/styles.css">
  <!-- endbuild -->

  <!-- build:js assets/scripts/Vendor.js -->
  <script src="/temp/scripts/Vendor.js" type="text/javascript"></script>
  <!-- endbuild -->


</head>
<body>

  <!-- start header -->
  <header class="site-header">
    <div class="wrapper">
      <div class="site-header__logo">
        <div class="site-header__logo__graphic">
          <img src="/assets/images/zendo_logo_small.png">
        </div>
        
      </div>
      

      <div class="site-header__menu-icon">
        <div class="site-header__menu-icon__middle"></div>
      </div>      

      <div class="site-header__menu-content">
        <div class="site-header__brand">
              <span class='site-header__brand-first'>ZENDO</span> 
              <span class="site-header__brand-second">DIGITAL</span>
        </div>
        <nav class="primary-nav primary-nav--pull-right">
          <ul>
            <li><a href="#about-us" id="about-us-link">About Us</a></li>
            <li><a href="#features" id="features-link" >Features</a></li>
            <li><a href="#teams" id="teams-link">Our Team</a></li>
            <li><a href="#contact-form" id="contact-link">Contact Us</a></li>
            <li><a href="pricing" id="pricing">Pricing</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <!-- end header -->