.grid {
    margin-top: 100px;
    display: grid;
    grid-template-columnns: repeat(3, 1fr);
    grid-gap: 0;
    font-size: 100%;
    border: 1px black solid;
    
    &--column-1 {
        grid-column-start: 1;

        @mixin atMedium {
            grid-column-start: 1; 
            justify-self: center;
            width: 100%;
            background-color: #D3D3D3;
            padding: 0 15px;
            }
    }
    
    &--column-2 {
        grid-column-start: 1;

        @mixin atMedium {
            grid-column-start: 2; 
            justify-self: center;
            background-color: #FFF;
            width: 100%;
            padding: 0 15px;
        }
    }
    
    &--column-3 {
        grid-column-start: 1;

        @mixin atMedium {
            grid-column-start: 3; 
            justify-self: center;
            width: 100%;
            background-color: #D3D3D3;
            padding: 0 15px;
        }
    }
    
    &--column-4 {
        grid-column-start: 1;

        @mixin atMedium {
            grid-column-start: 4; 
            justify-self: center;
            background-color: #FFF;
            width: 100%;
            padding: 0 15px;
        }
    }
    
   
}




    