.image {
		height: 400px;		
		background-image: url(/assets/images/greater_heights.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-position: cover;
		

		/*&--picture-height {
			max-height: 100%;
			
		}*/
}