.pricing {
    /*background-color: $mainOrange;*/
    text-align: center;
    background-image: url(/assets/images/ganges_bath_time.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    &__price {
        font-family: SweetSans-Medium;
        color: $mainOrange;
        font-size: 3rem;
        
        &--sub-script {
            font-size: 25%;
        }
    }
    
    &__title {
        
    }
    
    &__pre {
       font-family: Roboto;
       margin: 0;
    }
    
    &__hr {
        margin-bottom: 20px;
    }
    
    & .i--color {
        color: green;
        font-size: 5rem;
        margin: 3rem 0;
    }
    
    
}