    .icon {
      background-image: url('../../assets/images/sprites/sprite-a67ffb59.svg');
    }

    .no-svg .icon {
      background-image: url('../../assets/images/sprites/sprite-a67ffb59.png');
    }
  .icon--align-left {
    width:32px;
    height:32px;
    background-position:93.85474860335195% 98.41269841269842%;
  }
  .icon--check {
    width:34px;
    height:34px;
    background-position:0 100%;
  }
  .icon--comments {
    width:71.92px;
    height:62px;
    background-position:55.3638193845269% 0;
  }
  .icon--dolly-flatbed {
    width:77px;
    height:62px;
    background-position:0 0;
  }
  .icon--facebook-square {
    width:62px;
    height:62px;
    background-position:99.94630872483222% 0;
  }
  .icon--file-alt {
    width:32px;
    height:32px;
    background-position:75.97765363128492% 98.41269841269842%;
  }
  .icon--globe {
    width:34px;
    height:34px;
    background-position:19.2090395480226% 100%;
  }
  .icon--instagram {
    width:62.01px;
    height:62px;
    background-position:0 64.58333333333333%;
  }
  .icon--reply-all {
    width:34px;
    height:34px;
    background-position:38.4180790960452% 100%;
  }
  .icon--search-plus {
    width:34px;
    height:34px;
    background-position:57.6271186440678% 100%;
  }
  .icon--sitemap {
    width:34px;
    height:34px;
    background-position:84.13559322033899% 50%;
  }
  .icon--twitter-square {
    width:62px;
    height:62px;
    background-position:41.61744966442953% 64.58333333333333%;
  }
