html {
    font-size: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}

* {
  box-sizing: border-box;
}

h1, h2 {
    font-family: SweetSans-Medium;
}

/*@font-face { font-family: SweetSans-Medium; src: url('fonts/SweetSans-Medium.otf'); }
@font-face { font-family: SweetSans-Light; src: url('fonts/SweetSans-Light.otf'); }*/