@mixin atSmall {
  @media (min-width: 530px) {
    @content;
  }
}

@mixin atMedium {
  @media (min-width: 800px) {
    @content;
  }
}

@mixin atLarge {
  @media (min-width: 1010px) {
    @content;
  }
}

@mixin clearFix {
  /*pseudo selector takes
  content after row and clears it
  allowing the elements to display properly*/
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}
