$mainRed: #B3764B;
$mainBlueGrey: #57585B;
$mainOrange: #A55106;
$coral: #ff7f50;
$mainGreen: #32CD32;

$mainDarkColor: #9EE7F5;
$mainDarkerColor: #2377a4;
$mainLighterDarkColor: #50A3c6;
$mainLightestDarkColor: #79c0d7;
$mainWhite: #f8f8f8;
$mainLightGrey: #dddfdf;
$mainDarkGrey: #c2c2c2;
$mainDarkerGrey: #57585B;
